<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_task_path, remote: true, class: "btn btn-default", style: "margin-bottom: 20px;" do %> <span class="glyphicon-plus"></span> Add Task <% end %>

      <div id="task-form" style="display:none;"></div>
    </div>
  <div class="col-md-8 col-md-offset-1">
    <h2>Tasks</h2>

    <ul>
      <div id="tasks">
        <%= render @tasks %>
      </div>
    </ul>
  </div>
</div>
</div>
