<div class="row">
  <div class="col-md-5">





<%= link_to 'New Task', new_task_path, remote: true %>

<div id="task-form" style="display:none;"></div>

<h2>Tasks</h2>

<ul>
  <div id="tasks">
    <%= render @tasks %>
  </div>
</ul>
  </div>
</div>
